.card-grid {
  margin-top: 70px;
  
  @media (min-width: 960px) {
    width: 690px;
    margin: 145px auto;
  }
}

.card-grid__item {
  display: inline-block;
  margin-bottom: 140px;
  width: 100%;

  @media (min-width: 960px) {
    width: 50%;
  }
}

.card-grid__item:nth-child(odd) .card-grid__item-inner {
  margin: 0 auto;

  @media (min-width: 960px) {
    margin-right: 70px;
  }
}

.card-grid__item:nth-child(even) .card-grid__item-inner {
  margin: 0 auto;

  @media (min-width: 960px) {
    margin-left: 70px;
  }
}
